{% load static %}
<tbody>
<div class="row">

             {% for i in impressao %}

            <div class="col-sm-3">
                <div class="card" style="width: 80%;height:70%;margin-top: 10px">
                   <div class="container" id="drop-cont">
                       <div class="dropup">
                       <i class="fas fa-ellipsis-v " onclick="myFunction()" id="dropbtn" style="left: 126px;position: relative;bottom: 70px;" ></i>
                        <div class="dropup-content">
                        <a href="#home">Alterar imagem</a>
                        <a data-toggle="modal" data-target="#modal{{ i.id }}">Excluir</a>
                        </div>
                       </div>
                       <a class="img "> <img  src="{{i.img.url}}" style="width:80%;height: 80px;bottom: 20px;position: relative"> </a>
                       <b><p class="text-center" style="text-transform: capitalize">{{ i.mao }}</p></b>

                       <b><p class="text-center" style="text-transform: capitalize">{{ i.dedos }}</p></b>
                   </div>
                </div>


            </div>

                                <div class="modal fade" id="modal{{ i.id }}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Excluir</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-rigth">
          Excluir a impressão digital do paciente <b style="text-transform:capitalize;">{{i.paciente.nome_paciente}}?</b>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          <a href="../digitais/delete_impressao/{{i.id}}">
          <button type="button" class="btn btn-danger" >
              Excluir
          </button>
              </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


 {% empty %}
    <div class="row-cols-1">
    <div class="container">
         <div class="alert-info">
        <b><p>Não existem impressões digitais cadastradas</p></b>
    </div>
    </div>

</div>



         {% endfor %}


 <div class="row" >
            <form  method="POST" enctype="multipart/form-data" novalidate="" id="form">{% csrf_token %}

                <div class="col-sm">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload1" name="img" accept=".png, .jpg, .jpeg"
                                   data-required="file"  data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                            <label for="imageUpload1" title="Insira uma imagem"></label>
                        </div>

                        <div class="avatar-preview">
                            <div id="imagePreview1"
                                 style="background-image: url('{% static 'images/fingerprint_add.png' %}')">
                            </div>
                        </div>

                    </div>

                </div>


                <div class="row">
                    <input style="position:relative;bottom:40px " class="form-control" name="mao" id="id_mao" placeholder="Ex: Mão Esquerda" >

                </div>

                <div class="row">
                    <input style="position:relative;bottom:40px " class="form-control"  name="dedos" id="id_dedos" placeholder="Ex: Dedo Polegar" >

                </div>
                 <div class="row">
                    <button  type="submit" class="form-control btn btn-primary " style="position: relative;bottom:40px">Adicionar Digital</button>

                </div>
                <div class="row">
                    <input class="form-control" name="paciente" id="id_paciente" value="{{ paciente.id }}" hidden>


                </div>


            </form>
        </div>


</div>

</tbody>
