<thead>
<tr>
    <th>ID</th>
    <th>Nome</th>
    <th>CPF</th>
    <th>Data de Nascimento</th>
    <th class="actions">Ações</th>
</tr>
</thead>
{% for i in paciente %}

    <tr>
        <td>{{ i.id }}</td>
        <td style="text-transform: capitalize">{{ i.nome_paciente }}</td>
        <td>{{ i.cpf_paciente }}</td>
        <td>{{ i.dt_nascimento }}</td>


        <td class="actions">
            <div class="btn-group" role="group" aria-label="Basic example">

                    <a href="../pacientes/{{ i.id }}/digitais/">
                    <button type="button" class="btn btn-secondary" data-placement="top" title="Realizar análise dermatoglífica"><i class="fas fa-fingerprint"></i></button>
                </a>
                <button type="button" class="btn btn-secondary js-update-paciente" data-placement="top" title="Alterar Dados"
                        data-toggle="modal"
                        data-target="#myModal" title="Alterar Dados"
                        data-url="{% url 'paciente_update' i.id %}"><i class="fas fa-pen"></i></button>



                 <a data-toggle="modal" data-target="#modal{{ i.id }}">

                    <button type="button" class="btn btn-secondary" data-placement="top" title="Excluir Paciente"><i
                            class="fas fa-trash-alt"></i></button>
                </a>

                <a href="">
                    <button type="button" class=" btn btn-secondary" data-placement="top" title="Mostrar Resultado da Análise Dermatoglífica"><i class="far fa-clipboard"></i></button>
                </a>


            </div>
        </td>

    </tr>

       <div class="modal fade" id="modal{{ i.id }}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Excluir Paciente</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-rigth">
          Deseja excluir o paciente <b style="text-transform:capitalize;">{{i.nome_paciente}}?</b>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
           <a href="excluir_paciente/{{ i.id }}/">

          <button type="button" class="btn btn-danger" >
              Excluir
          </button>
              </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

{% endfor %}