input.error {
    border-color: #f00 !important;
}

small.required {
    color:#f00;
}
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
}
#cont-prontuario{

    border: 2px solid #C9D3DD;
    border-radius: 5px;
    background-color: #E2E8F0;
    position: relative;
    bottom: 650px;
    left: 150px;
    width: 100%;
    height: 100%;

}

ol.breadcrumb li a {
    color: #4B5F83;
  text-decoration: none;
}
ol.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-md-10 {
    width: 83.33333333%;
}
.display-label-vertical {
    margin-bottom: 7px;
}
.col-md-3 {
    width: 25%;
}
#img_p {
    display: block;
    position: relative;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
}
#h2{
    text-transform: capitalize;
    margin-top: 20px;
}

.display-label-vertical span {
    color: #9CA5AC;
    display: block;
    font-size: 12px;
}
.display-label-vertical label {
    color: #656D78;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
#card_img{
    height: 355px;
    margin-top: 10px;

}
#card-informacao{
    width: 100% ;
    height: 100%;
    margin-top:10px;


}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.text-secondary{
    font-size: 15px;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
#card-obs{
    height: 37%;
    margin-top:10px;
}
#list_consultas{

width: 100%;
    margin-top: 50px;
}
.tbody{
    overflow: hidden;
}

input, textarea{

        height: 40px;
    }



