.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
ul.messages{
  padding:0;
  list-style: none;
}
ul.messages li{
 list-style:none;

}