{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>

	<title>Login</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--===============================================================================================-->
<!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/utl.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/man.css'%}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
          rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

<!--===============================================================================================-->
</head>

<div>
<style>
   #eye {
     position: relative;
        bottom: 35px;
       left:245px;
        cursor: pointer;
    }
</style>

	<div class="limiter">


		<div class="container-login100">


			<div class="wrap-login100">


				<div class="login100-pic js-tilt" data-tilt>

					<img src="{% static 'images/imp.png' %}" alt="IMG">
				</div>

				<form  action="submit" method="post" class="login100-form validate-form">{% csrf_token %}
					<span class="login100-form-title">
						Bem Vindo
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Insira o CPF" >

						<input class="input100" type="text" id = 'username'name="username" placeholder="Usuário">

					</div>

					<div class="wrap-input100 validate-input" data-validate = "Insira a senha">
                        <input class="input100" type="password" id= 'senha' name="password" placeholder="Senha"><span id="eye" style="font-color:#f1f1" class="material-icons">remove_red_eye</span>

					</div>



					<div>
                    <div class="container-login100-form-btn">

						{% for i in messages %}
						<div class="alert alert-danger">
							 <strong>Error! </strong>{{i}}
						</div>
						{% endfor %}
						<button type="submit" class="login100-form-btn">
							Entrar
						</button>
					</div>
						</div>

					<div class="text-center p-t-12">
						<span style="font-weight:bold;"class="txt1">
							Esqueceu a
						</span>
						<a style="font-weight:bold; "class="txt2" href="#">
							Senha?
						</a>
					</div>

					<div class="text-center pt-5">
						<a style="font-weight:bold;" class="txt2" href="/cadastro/">
							Crie uma Conta
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



<!--===============================================================================================-->
	<script src="{% static 'js/jquery.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<!--===============================================================================================-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script><!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
           let btn = document.querySelector('#eye');
        btn.addEventListener('click', function () {
            let input = document.querySelector('#senha');
            if (input.getAttribute('type') == 'password') {
                input.setAttribute('type', 'text');
            } else {
                input.setAttribute('type', 'password');
            }
        });
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>


</body>
</html>