<style>
    .li{
        color:white;
        background: white;
    }
    .a{
        color:white;
        background: white;
    }
    .ul{
        color:white;
        background: white;
    }



</style>

<nav class="navbar navbar-expand-lg navbar-dark " style="background: #042359;color:white">
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color:white">
    <ul class="navbar-nav mr-auto" >
                   <h5>SICABIO</h5>

    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" id="search-form">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="buscar" name="buscar">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>